<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.mandroidfine" >

    <application
        android:name=".common.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ImageGalleryActivity" android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".LoginActivity"  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HouseDetailActivity" android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>